body {
  margin: 0;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* height: 100vh; vh = viewport height */
}

.item {
  /* width: 100px;
  height: 100px; */
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: calc(100% / 5); Розмір по головній осі */
  flex-grow: 1; /* Розтягування елементів */
  align-self: stretch;
  width: 100px;
  flex-shrink: 0; /* Звуження елементів */
}

/* .item-4 {
  order: 1;
}

.item-7 {
  order: 2;
} */
