body {
  font-family: 'Montserrat', sans-serif;
  color: #1f373d;
}

a {
  color: inherit;
}

.header {
  max-width: 900px;
  margin: auto;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
}

.nav-menu-link {
  text-decoration: none;
  padding: 2px;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  column-gap: 6px;
}

.header-join {
  background-color: transparent;
  border: none;
  color: inherit;
}

.header-start {
  border: none;
  background-color: #ffcc01;
  border-radius: 6px;
  padding: 14px 24px;
  color: inherit;
}

.header-join:hover,
.header-start:hover,
.nav-menu-link:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}

.header-actions {
  display: flex;
  column-gap: 10px;
}
